.dashboard {
  height: 100vh;
  width: 100%;
  display: grid;
  position: fixed;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: 4rem 1fr;
  background-color: var(--white-clr-1);
  overflow: scroll;
}

.aside {
  grid-row: -1 /1;
  padding-top: 20px;
  width: 100%;
  background-color: var(--white-clr-0);
  border-right: 2px solid var(--white-clr-1);
  position: relative;
}

.main {
  max-height: 100%;
  max-width: 100%;
  margin: 1rem;
  background-color: var(--white-clr-0);
  overflow: scroll;
}

/* setting the height and the overflow to scroll caused extra scrollbars so i disabled them below */
.main::-webkit-scrollbar,
.dashboard::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.main,
.dashboard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navBar {
  grid-column: 2;
  display: flex;
  align-content: center;
  justify-content: flex-end;

  background-color: var(--white-clr-0);
  border-bottom: 2px solid var(--white-clr-1);
}

.navBar > button {
  width: 3rem;
  border: none;
  padding: 0;
  background: transparent;
}

.navBar > button > svg {
  width: 100%;
  height: 100%;
  color: var(--cta-clr-2);
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
  align-items: center;
  justify-self: center;
  justify-content: flex-end;
}

.navItem > a {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.navItem svg {
  margin-right: 8px;
  color: var(--cta-clr-2);
  height: clamp(1.4rem, 2vw + 1rem, 1.8rem);
}

.navItem > a {
  text-decoration: none;
  font-weight: 400;
  color: var(--cta-clr-2);
  font-size: clamp(8px, 1vw + 0.5rem, 20px);
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.user > img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--cta-clr-2);
  border-radius: 50%;
}

.navBar > button {
  display: none;
}

@media (max-width: 900px) {
  .aside {
    display: none;
  }

  .main {
    margin: 0;
    border-radius: 0;
  }

  .dashboard {
    display: block;
  }

  .navBar {
    justify-content: space-between;
  }

  .navBar > button {
    display: block;
  }
}

@media (max-width: 450px) {
  .main {
    padding: 0;
  }
  .user > span {
    font-size: 0.8rem;
  }
}
