.container {
  height: 100dvh;
  font-family: var(--font-ubuntu);
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
}

@media (min-width: 550px) {
  .container form {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .container form {
    width: 80%;
  }
}

.background {
  height: 100%;
  width: 100%;
  display: grid;
  position: absolute;
  place-items: center;
  transform: translateY(-10%);

  z-index: -3;
}

.background > img {
  max-width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;

  background-color: black;
  opacity: 0.1;
  z-index: -2;
}

.form {
  position: fixed;
}
