.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.NavLink {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  color: var(--cta-clr-2);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 1.7rem;
  transition: all 0.3s;
}
:global(.active).NavLink {
  color: black;
  background-color: var(--blue-clr-1);
  border-radius: 6px;
}

svg {
  width: 2rem;
  height: 2rem;
  color: #111827;
  transition: all 0.3s;
}

.NavLink:hover {
  background-color: var(--blue-clr-0);
  border-radius: 6px;
  color: black;
}

.btn {
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  color: var(--cta-clr-2);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 1.7rem;
  transition: all 0.3s;
  background-color: inherit;
}

.btn:hover {
  background-color: var(--blue-clr-0);
  border-radius: 6px;
  color: black;
}

@media (max-width: 900px) {
  .nav {
    margin-top: 0px;
  }
}
