.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 3;
  color: var(--blue-clr-1);
  background-color: var(--white-clr-1);
  justify-content: space-between;
  padding: 10px;
}

.navImg {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  aspect-ratio: 1/1;
}

.navList {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 70%;
  list-style: none;
  justify-content: space-between;
  font-weight: 900;
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1.5rem);
}

.email {
  display: flex;
  align-items: center;
  gap: 5px;
}

.email > svg {
  width: 1.2rem;
  color: var(--blue-clr-1);
}

.navItem > a,
.navItem > button > a {
  text-decoration: none;
  color: var(--blue-clr-1);
  display: flex;
  align-items: center;
}

.navItem > button > a {
  color: var(--white-clr-2);
}

.navItem svg {
  margin-right: 8px;
  color: var(--cta-clr-2);
  height: clamp(1.4rem, 2vw + 1rem, 1.8rem);
}

@media (max-width: 450px) {
  .navList {
    width: 80%;
  }

  .navItem:first-child {
    display: none;
  }
}
