@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

.header {
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
}

.header div > p {
  font-family: var(--font-manrope);
  font-style: oblique;
  color: var(--white-clr-2);
}

.headerText {
  margin-bottom: 1.4rem;
}

.headerText > h1,
h2 {
  margin: 0;
  padding: 2px;
  font-family: var(--font-ubuntu);
  font-style: italic;
}

.division {
  display: flex;
  align-items: center;
  margin: 20px 0;
  height: 20px;
  gap: 1rem; /* Adjust gap between lines and text */
}

.division > p {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--cta-clr-2);
}

.line {
  flex: 1; /* Makes the line take available space */
  border: 0;
  height: 1px; /* Thin line */
  background-color: var(--cta-clr-2); /* Color of the line, adjust as needed */
}

.gradePoint {
  margin: 0;
  padding: 0;
}
/* 

.login header {
  padding: 20px;
  color: var(--grey-clr);
}

.login header h2 {
  font-size: 0.8rem;
  padding-left: 10px;
}

.header {
  font-size: 1rem;
  color: var(--grey-clr);
  padding-left: 10px;
}



.info {
  color: var(--grey-clr);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
} */

.Profile_image {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
}
