@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --white-clr-0: #fff;
  --white-clr-1: #f5f5f5;
  --white-clr-2: #e5e5e5;
  --white-clr-3: #d4d4d4;

  --blue-clr-0: #bfdbfe;
  --blue-clr-1: #60a5fa;
  --blue-clr-2: #2563eb;
  --blue-clr-3: #1e40af;

  --cta-clr-0: #bae6fd;
  --cta-clr-1: #38bdf8;
  --cta-clr-2: #0ea5e9;
  --cta-clr-3: #0284c7;

  --red-clr-0: #fca5a5;
  --red-clr-1: #f87171;
  --red-clr-2: #dc2626;
  --red-clr-3: #b91c1c;

  --color-purple: #8b5cf6;
  --color-pink: #0ea5e9;
  --color-gray: #9ca3af;
  --color-black: #1f2937;
  --card-size: 20rem;

  --font-manrope: "Manrope", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: var(--font-manrope);
  font-optical-sizing: auto;
}

body {
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font-size: 16px !important; /* Prevents zooming */
}

.mainlayout {
  padding-top: 60px;
  position: relative;
}

.carousel {
  position: relative;
  width: var(--card-size);
  height: var(--card-size);
  perspective: 500px;
  transform-style: preserve-3d;
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;

  &.left {
    transform: translateX(-100%) translatey(-50%);
  }

  &.right {
    right: 0;
    transform: translateX(100%) translatey(-50%);
  }
}

.errorContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorContainer > button {
  width: 30%;
}
